@import "../../style/variables.scss";

#storyHolder {
  margin: auto;
  background: $ContentBackground;
  padding: 70pt 15%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

#headshotHolder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50pt;
}

#headshot {
  height: 200pt;
  border-radius: 100pt;
  border: 2pt dashed $MonoGreen;
}

.sliderTitle {
  width: 100%;
  margin: auto;
  font-family: $TitleFont;
  font-size: 1.5em;
  color: $MonoGreen;
  text-align: center;
  margin-top: 50pt;
  margin-bottom: -25pt;
}

.title {
    font-size: 25pt;
    margin-bottom: 50pt;
    color: lighten($Dark,5%);
    text-align: center;
    font-family: $TitleFont;
}

.storyText > p {
  margin: 0 0pt 30pt 0pt;
}

.timelineHolder {
  width: 100%;
  margin: auto;
  padding: 30pt 0;
  display: flex;
  justify-content: space-around
}