$Highlight: #D75813;
$Light: #f3f3f3;
$Dark: #1C1F24;
$BackgroundColor: #000;
$Foreground:darken($Dark,10%);
$ContentBackground: #f3f3f3;
$Container: #1c1f24;
$MonoGreen: #4cbb17;
$DimText: #E4E7E3;
$Color1: #51A1A7;
$Color2: #6383C4;
$Color3: #8C5F8C;
$MainFont: 'Roboto Slab', serif;
$TitleFont: 'Bungee', cursive;
$RetroFont: 'VT323', monospace;