@import './style/overrides.scss';

.efaGep {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: $MainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black url(/images/green-fire.jpg) top fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
